html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* LayOut */
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr;
  height: 100%;
}

header{
  grid-area: header;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
}

.colum{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title{
  font-style: normal;
  line-height: 44px;
  font-weight: 800;
  color: #003a59;
}

.main-title h1{
  margin-block-start: 3em;
  margin-block-end: unset;
}

.sub-title{
  font-style: normal;
  line-height: 44px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #728197;
}

.sub-title h5{
  margin-block-start: unset;
}

/* form */
.form{
  max-width: 100rem;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #e3e9f1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 3rem;
}

.form >div{
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.form label{
  font-style: normal;
  color: #2e3849;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
}

.form input, button{
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #e3e9f1;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%
}

.form button{
  background: #00598D;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.formItem{
  margin: 1rem;
  width: 33.333%;
  height: 5rem;
}

.dontLable{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  color: #728197;
  margin-left: 1rem;
}

/* footer */

footer >div{
  max-width: 100rem;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  margin: 1rem auto;
  background-color: #ffffff;
  border: 1px solid #e3e9f1;
  box-sizing: border-box;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #EEF3F8;
  box-sizing: border-box;
  border-radius: 4px;
  height: 5rem;
}

.leftItem, .rightItem{
  display: flex;  
  justify-content: center;
  align-items: center; 
}

.item{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  margin-left: 1rem;
  color: #2E3849;
  width: 10rem;
}

.expireDate{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.03em;
  margin-left: 6rem;
  color: #728197;
  vertical-align: middle;
}

.status{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #754311;
  background-color: #f3dfb2;
  padding: 6px;
  border-radius: 19px;
}

.deleteIcon{
  margin: 2rem;
}

.success{
  color: #20a020;
}

.danger{
  color: #a02020;
}

.alert{
  padding: 1rem;
  border-radius: 0.1rem solid transparent;
  border: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-error{
  color: #a02020;
  background-color: #ffe0e0e0;
}
